{{- $files := glob (joinPath .chezmoi.sourceDir "gitignores/*") -}}
{{- $allLines := list -}}
{{- range $file := $files -}}
    {{- $lines := splitList "\n" (include $file) -}}
    {{- $allLines = concat $allLines $lines -}}
{{- end -}}
{{- $allLines := $allLines | uniq | sortAlpha -}}
{{- range $line := $allLines -}}
    {{- if and (not (regexMatch "^#"  $line)) (ne "" $line) -}}
        {{- $line }}
{{ end -}}

{{- end -}}