#!/bin/zsh

{{ $files := glob ( joinPath .chezmoi.sourceDir "dot_local/share/fortune_modules/*" ) }}
{{ range $file := $files }}
# {{ base $file }} hash: {{ include $file | sha256sum }}
{{ end }}
strfile -i -r -s "$HOME/.local/share/fortune/merged" "$HOME/.local/share/fortune/merged.dat"
